# === .gitignore ===
# Служебные и чувствительные файлы, которые не должны попадать в репозиторий.
# =======================

# Переменные окружения (секреты)
.env

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Виртуальное окружение
venv/
.venv/
env/

# Артефакты vkbottle
.vkbottle/

# Служебные лог-файлы
*.out
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Системные
Thumbs.db
.DS_Store
